<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>LANDING PAGE</title>

</head>
<body>
    

        <div class="input-group flex-nowrap" id="searchBar">
        <div class="searchText"><h1>Search for EUNE player statistics</h1></div>
    <form action="/profile/" method="get">
            <input type="text" class="form-control" id="searchField" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" name="profile" autocomplete="off">
            <input type="submit" value="Search">
        </form>      
      </div>  
    </form>

 
</body>
</html>